.App-body {
  margin: auto;
}

.App>h1 {
	border-bottom: thick black solid;
	margin-top: 0;
	padding: 0.5em;
 	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}


h3, h4 {
	text-align: center;
}


.inline-datetime {
	max-width: 11.5em;
}

@media (min-width: 768px) {
.form-inline .form-control, .mr-sm-1em {
    margin-right: 1em;
}
}

.loading {
    text-align: center;
    font-size: large;
    margin-top: 1em;
}