.ExpensesTable table {
	width: 100%;
	border-collapse: collapse;
}

.ExpensesTable table th {
	border-bottom: thin black solid;
}

.ExpensesTable table>tbody tr:nth-child(odd) {
	background-color: #DDD;
}

.ExpensesTable h3 {
	text-align: center;
}
